@model ChapterStoryVM


@{
    string? alert = TempData["ChapterSuccess"] as string;
}

<!-- Alert Start -->
@if (!string.IsNullOrEmpty(alert))
{
    if (alert == "Chapter updated successfully!")
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong><i class="bi bi-check-circle"></i> Saved successfully !</strong> You have edited and updated this chapter of your story.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><i class="bi bi-x-circle"></i> Failed to save !</strong> Something went wrong. Please check and save again.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}


<div class="team-item rounded p-4">

    <form method="post" action="EditChapter">

        <input asp-for="@Model.Story.UserId" hidden />
        <input asp-for="@Model.Story.Id" hidden />
        <input asp-for="@Model.Chapter.UserId" hidden />
        <input asp-for="@Model.Chapter.Id" hidden />

        <img class="img-fluid rounded mb-4" src="img/team-1.jpg" alt="">
        <div class="pt-3">
            <p class="my-section-title bg-white text-center px-3">Chapter @Model.ChapterIndex</p>
        </div>

        <div class="chapter-form-container">
            <div class="mt-3 chapter-form-floating">

                <input asp-for="@Model.Chapter.ChapterName" type="text" class="chapter-form-control" id="name" placeholder="">
                <label asp-for="@Model.Chapter.ChapterName"></label>
                <span asp-validation-for="@Model.Chapter.ChapterName" class="my-text-danger"></span>

            </div>
        </div>
        

        <div class="mt-5">
            <textarea asp-for="@Model.Chapter.Content" id="mytextarea"></textarea>
        </div>

        <div class="button-container-end mt-5">
            <a asp-area="User" asp-controller="Home" asp-action="Index" type="submit" class="save-button save-box">
                Finish
            </a>
            <button type="submit" class="save-button save-box">
                Save
            </button>
        </div>

    </form>
</div>

